<div class="login-section">
  <div class="login-form">
    <form>
      <div class="form-control">
        <label for="user-email"> Email </label>
        <input class="input" [(ngModel)]="email" name="user-email" type="email" id="user-email">
      </div>
      <div class="form-control">
        <label for="user-password"> Password </label>
        <input class="input" [(ngModel)]="password" name="user-password" type="password" id="user-password">
      </div>
      <hr>
      <div class="form-action">
        <button type="submit" class="pointer">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
