<div class="section-title">
  <h3>
    Available Recipes
  </h3>
  <div class="add-new-recipe-action">
    <button *appRoleBasedPermission="['admin']" class="new-recipe-action" routerLink="new">
      Create New Recipe
    </button>
  </div>
</div>
<div class="list-continer">
  <div (click)="showRecipeDetails(i)" class="recipe-card" *ngFor="let rec of recipes;let i = index">
    <h4> {{ rec.name }} </h4>
    <p>{{rec.description}} </p>
    <img [src]="rec.imageURL" alt="recipe-name">
    <div class="card-actions">
      <button class="add-to-shoping-list pointer" (click)="addToShoppingList($event,i)">
        Add To Shopping List
      </button>
    </div>
  </div>
</div>
