<div class="add-edit-recipe">
  <h3>
    Recipe
  </h3>
  <div class="recipe-data">
    <form class="recipe-data-form">
      <div class="meta-data">
        <div class="form-control">
          <label for="recipe-name"> Name </label>
          <input class="input" [(ngModel)]="activeRecipe.name" name="name" type="text" id="recipe-name">
        </div>
        <div class="form-control">
          <label for="recipe-name"> Image URL </label>
          <input class="input" [(ngModel)]="activeRecipe.imageURL" name="imageURL" type="text" id="recipe-image-url">
        </div>
        <div class="form-control">
          <label for="recipe-name"> Description </label>
          <textarea class="input" [(ngModel)]="activeRecipe.description" name="description" id="recipe-decription"
            rows="10"></textarea>
        </div>
      </div>
      <hr>
      <div class="ings-data">
        <h4>
          Ingerdients
        </h4>
        <div class="add-new-ingerdient">
          <div class="form-control">
            <!-- <input class="input" [(ngModel)]="activeIngredient.name" name="ing-name" type="text" id="ing-name"
              placeholder="Name"> -->
            <select [(ngModel)]="activeIngredient.name" name="ing-name" class="form-control" placeholder="Name">
              <option class="ings-option" value="" disabled selected>Select an option</option>
              <option *ngFor="let ing of ingredients" [value]="ing" class="ings-option">
                {{ ing }}
              </option>
            </select>
          </div>
          <div class="form-control">
            <input class="input" type="number" [(ngModel)]="activeIngredient.amount" name="ing-amount" id="ing-amount"
              placeholder="Amount">
          </div>
          <div class="add-ing-action">
            <button (click)="addNewIngerdient()">
              Add Ingerdient
            </button>
          </div>
        </div>
        <div class="ings-list">
          <div *ngFor="let ing of activeRecipe.ingredients;let i = index" class="ing">
            <p> {{ ing.name }} </p>
            <p> {{ ing.amount }} </p>
            <p class="delete-ing" (click)="removeIngerdient(i)"> Delete </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="recipe-actions">
        <h4>
          Recipe Actions
        </h4>
        <div class="actions">
          <div class="save-add-recipe">
            <button (click)="add_update_recipe()" class="save">
              {{ isEditing ? 'Update': 'Add' }}
            </button>
          </div>
          <div *ngIf="isEditing" class="delete-recipe">
            <button (click)="deleteRecipe()" class="">
              Delete
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
